<!doctype html>
    <html>
    <head>
        <title>Test Application</title>
    </head>
    <body style="text-align: center;">
        {% for message in get_flashed_messages() %}
            {{ message }}
    
        {% endfor %}
      <h1 style="text-align: center;">Welcome</h1>
      
    <div>
      {%if person%}

      <h1 style="text-align: center; "> Hi, {{person}} </h1>
      
      {%else%}
      

        <div style="text-align:center; display: inline-block;border: 10px solid grey; ">
        <form method="POST" action="/">
            Hello, What's your name?
            <input type="text" name="person"><br>
            <input type="submit">
        </form>
    </div>
    {% endif %}  
        
    </div>
    </body>

    </html>